@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');
:root {
  --prime-color-fill: #1D263D;
  --second-color: #F4F6FB;
  --thirth-color: #4D8BFF;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Barlow', 'sans-serif';
  background-color: #FFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  transition: background 0.2s linear;
}

/* .toggle {
  position: absolute;
  margin-top: -30px;
}

/* body.dark {
  background-color: var(--prime-color-fill);
  color: #fff;
}

.label {
  width: 50px;
  height: 26px;
  background: var(--prime-color-fill);
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball{
  transform: translateX(24px);
}

.fa-moon {
  color: #fff;
}

.fa-sun {
  color: #FFFF00;
}

.checkbox {
  opacity: 0;
  position: absolute;
} */ */

.container {
  width: 50%vw;
}

.header {
  text-align: center;
}
.header img {
  width: 150px;
  height: auto;
  border: var(--second-color) 8px solid;
  border-radius: 50%;
}

.links {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.links a {
  margin-top: 10px;
  padding: 10px 90px;
  background-color: var(--prime-color-fill);
  text-decoration: none;
  border-radius: 10px;
  margin-bottom: 5px;
  color: #fff;
  transition: 0.2s ease-in-out 0s;
}

.links a:hover {
   background-color: #4D8BFF;
   transform: scale(1.090);
}

footer {
  font-size: 12px;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: white;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--prime-color-fill);
    color: #fff;
  } 
  .links a {
    background-color: var(--thirth-color);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #fff;
    color: #000;
  } 
  .links a {
    background-color: var(--prime-color-fill);
  }
}

@media only screen and (max-width: 580px) {
  body {
    font-size: 30px;
    margin: 50px;
  }
  .container {
  }
  .header img  {
    width: 250px;  
  }
 
  
}